# Hilt

Dependency injection for Android (built on Dagger).

Install:
```gradle
implementation "com.google.dagger:hilt-android:2.44"
kapt "com.google.dagger:hilt-android-compiler:2.44"
```

Quick example:
```kotlin
@HiltAndroidApp
class MyApp : Application() {}
```